@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #212121;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}

.qualities {
  padding-bottom: 94px;
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  padding-left: 0;
}

.advantages {
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.item p {
  margin-top: 0;
  margin-bottom: 0;
}

.description-qualities {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-list .item {
  width: 270px;
}

.advantages-list .item + .item {
  margin-left: 30px;
}

.antenna-container,
.clock-container,
.diagram-container,
.astronaut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.business {
  display: block;
  padding-bottom: 94px;
}

.business-thumb {
  position: relative;
}

.business-overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0;
}

.business-overlay {
  opacity: 1;
}

.business-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*Добавление анимации всплывания фона с текстом

    opacity: 0;
    transition: 250ms opacity var(--timing-function);*/
}

.items-do {
  display: flex;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.items-do .do-list + .do-list {
  margin-left: 30px;
}

.do-list-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 27px;
  padding-top: 27px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.check {
  padding-left: 25px;
}

.check::before {
  content: "";
  margin-left: -25px;
  height: 15px;
  width: 16px;
  border: 2px solid black;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checked-text {
  display: block;
  margin-left: 7px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
}

.check__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-field.check {
  justify-content: center;
  align-items: center;
}

.check__input:checked ~ .check::before {
  border: 2px solid black;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked:focus ~ .check::before {
  background-image: url(../../images/ok.svg);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #2196f3;
  border-radius: 4px;
  overflow: hidden;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-clients {
  display: flex;
  padding-left: 0;
}

.client {
  display: flex;
  margin-left: 30px;
}

.client:hover {
  border-color: #2196f3;
}

.client:first-child {
  margin-left: 0;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo:hover,
.icon-logo:focus,
.link-icon:hover,
.link-icon:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.hero {
  display: block;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  padding-top: 200px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 44px;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.button-order {
  display: inline-block;
  padding: 10px 32px;
  background-color: #2196f3;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-decoration: none;
}

.container-item .first-link {
  display: block;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.white-logo {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
}

.blue-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.studia,
.portfolio,
.contacts-page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studia {
  text-decoration: none;
}

.mail,
.tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.tel:hover,
.studia:hover,
.portfolio:hover,
.contacts-page:hover,
.studia:active,
.portfolio:active,
.contacts-page:active,
.main-nav .studia.current,
.main-nav .portfolio.current {
  color: #212121;
  color: #2196f3;
  fill: currentColor;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  z-index: 2;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #2196f3;
}

.modal-close:focus {
  outline: transparent;
}

.modal-close-icon {
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма */
.form {
  margin: 40px;
  padding: 0;
  width: 448px;
  text-align: left;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.form-name {
  margin-bottom: 12px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
}

.form-input {
  position: relative;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:nth-last-child(2),
.form-field:last-child {
  margin-bottom: 0;
}

.form-field .textarea-field {
  margin-bottom: 20;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  outline: transparent;
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.agreement {
  display: block;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #2196f3;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 124px;
  margin-right: 124px;
  background-color: #188ce8;
  border-radius: 4px;
  border: 0;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  outline: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  cursor: pointer;
}

.form-icon-tel,
.form-icon-person,
.form-icon-mail {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-left: 12px;
  margin-right: 12px;
}

.form-input:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-input:focus ~ .form-icon-person,
.form-input:focus ~ .form-icon-tel,
.form-input:focus ~ .form-icon-mail {
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-icon-person,
.form-icon-tel,
.form-icon-mail {
  background-position: center;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: flex;
  padding-left: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.button-items {
  margin-left: 8px;
}

.button-items:first-child {
  margin-left: 0;
}

.portfolio-buttons {
  display: block;
  padding-top: 94px;
}

.button button:hover,
.button button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  cursor: pointer;
}

.button button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 94px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
}

.portfolio-list li {
  width: 370px;
}

.portfolio-list h2 {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .content {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-title {
  display: none;
}

.content-border {
  display: block;
  width: 370px;
  padding: 20px 24px;
  margin-right: -1;
  margin-left: -1px;
  background: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  box-sizing: border-box;
}

.portfolio-link:hover,
.portfolio-link:focus {
  background: #c4c4c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #c4c4c4;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке */
/* width: calc((100% - 60px) / 3); */
/* margin-right: 30px; */
/* margin-bottom: 30px; */
.portfolio-items {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: #eeeeee solid 1px;
}

.portfolio-items:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
}

.content {
  display: block;
  margin: 0;
}

.content-title {
  display: block;
  margin-bottom: 4px;
  margin-top: 0;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb:hover::before {
  opacity: 1;
}

.project-description {
  display: flex;
  padding: 63px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  margin: 0;
}

.portfolio-link:hover .project-description {
  opacity: 1;
}

.portfolio-items:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team h2 {
  display: block;
}

.team-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.team-list .person + .person {
  margin-left: 30px;
}

.person {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.person-data {
  display: block;
  padding: 30px 15px;
  text-align: center;
  background-color: #ffffff;
}

.position {
  display: block;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 0;
  padding: 0;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  fill: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-instagram,
.item-twitter,
.item-facebook,
.item-linkedin2 {
  padding: 0;
  margin: 0;
}

.icon-instagram:hover,
.icon-twitter:hover,
.icon-facebook:hover,
.icon-linkedin2:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  border: 1px solid transparent;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-twitter,
.icon-facebook,
.icon-linkedin2 {
  height: 44px;
  width: 44px;
  fill: #afb1b8;
}

.footer {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.adress {
  display: block;
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.adress-items {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.adress-list {
  margin-bottom: 9px;
}

.first-link-footer {
  display: block;
  margin-bottom: 20px;
}

.blue-logo,
.white-logo {
  margin-bottom: 60px;
}

.mail-footer,
.tel-footer {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-style: normal;
}

.footer {
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2f303a;
}

.social {
  margin-left: 70px;
}

.information {
  display: block;
}

.invite {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socialmedia-footer {
  display: flex;
  margin: 0;
  padding: 0;
}

.icon-instagram-footer,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin2-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram-footer:hover,
.icon-twitter-footer:hover,
.icon-facebook-footer:hover,
.icon-linkedin2-footer:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  border: 1px solid transparent;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-link {
  margin-right: 10px;
}

.social-link:last-child {
  margin-right: 0;
}

.form-field-footer {
  display: flex;
}

.form-name-footer {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.form-input-footer {
  padding-right: 42px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

.fields-footer-container {
  display: flex;
  align-items: center;
}

.form-button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
  display: block;
  align-items: left;
  justify-content: center;
}

.form-footer-global {
  display: flex;
}

.form-icon-sent {
  margin-left: 10px;
  fill: #ffffff;
}

.form-button-footer:focus {
  cursor: pointer;
}

.page-header-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  display: block;
}

.container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: block;
}

.main-adress {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.main-adress .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  letter-spacing: 0.02em;
}

.main-nav .studia,
.main-nav .portfolio,
.main-nav .contacts-page {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  opacity: 1;
}

.main-nav li + li {
  margin-left: 50px;
}
/*# sourceMappingURL=main.css.map */