.container-item .first-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: $font-raleway;
  @include font-data(26px, $container, 700, 1.2, 0.03em);
}

.white-logo {
  font-family: $font-raleway;
  font-style: normal;
  @include font-data(26px, $primary-white-color, 700, 1.17, 0.03em);
}

.blue-logo {
  font-family: $font-raleway;
  @include font-data(26px, $secondary-bcg-color, 700, 1.2, 0.03em);
}
