@mixin font-data(
  $size: false,
  $colour: false,
  $weight: false,
  $lh: false,
  $ls: false
) {
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}
